html
  head
  body
    h2.h__md Bienvenidos - Accueillir
    div
      h2.center.h__xl Sitio web en construcci&oacute;n
      img.main__imagen--front.center__map(src='./images/construccion.png', alt='Lento o impetuoso el progreso histórico es contínuo')