 <h2 class="center h__xl">Sitio web en construcción</h2>
      <img class="main__imagen--front center__map" src="../images/construccion.png" alt="Lento o impetuoso el progreso histórico es contínuo">
